VITE_API_URL=https://api.dev.pixtopay.com
VITE_PUBLIC_KEY=pk_dev_xxxxxxxxx
VITE_INTEGRATION_ID=integration_id_missing
VITE_KYC_FRONT_ORIGIN=https://kyc.dev.pixtopay.com
VITE_KYC_FRONT_ENTRY=/
VITE_ALLOWED_POSTMESSAGE_ORIGINS=https://kyc.dev.pixtopay.com
VITE_LANG=pt-BR

